@import '../app.component.scss';

.app-title{
    margin:  auto;
}
.mat-toolbar {
	background: rgb(15, 15, 63);
    color:#fff;
    //margin-bottom: 10px;
}
.app-container{
    max-width: relative;
    margin: 15px auto auto auto;
    border:1px solid #ccc;
    border-radius: 3px;
    min-height: 400px ;
    
    padding: 10px;  
    
}
.container{
    h1 {
        color: cornsilk;
    }
}


.box{
    background-color: rgb(7, 47, 116);
}
.mat-form-field {
    width: 100%;
    color: cornsilk;

    input{
        color: rgb(159, 228, 233);
        text-align: right;
        padding-right: 20px;
    }
    
}
.result{
    background:#3f51b5;
    color:#fff;
    padding: 1.5em;
    text-align: center
}



.cdk-live-announcer-element{
    visibility: hidden;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

